// rule 
// Khai báo các biến màu
$color-primary: #ebe7e7; // màu xanh dương
$color-secondary: #FFA500; // màu cam
$color-white: hsl(0, 0%, 100%); // màu trắng
$color-gray: #A9A9A9; // màu xám
$color-black: #000000; // màu đen

// Khai báo các biến font
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Arial', sans-serif;

// Sử dụng biến màu và font đã khai báo
body {
    background-color: $color-primary;
}
 

.nav-header {
    background-color: $color-gray;
    height: 80px;
    color: $font-primary;
    color: $color-primary;
}

// Sử dụng màu sắc khác cho các thành phần khác nhau của trang web
.header {
    background-color: $color-black;
    color: $color-white;
}

.footer {
    background-color: $color-secondary;
    color: $color-black;
}
.nav-header{
    background: rgb(59, 59, 59);
    height: 80px;
}

.wrap-page{
    padding: 10px;
    margin: 5px;
    background: #e4e4e4;
    border-radius: 50px;
    min-height: 60vh;
}
// login 
.wrapper {
    // display: flex;
    justify-content: center;
    align-items: center;
    // min-height: 100vh;
    // background-color: #f4f4f4;
  
    .form-title {
      width: 100%;
      max-width: 400px;
      padding: 20px;
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
      h1 {
        margin-bottom: 15px;
      }
  
      .form {
        .form-group {
          margin-bottom: 15px;
  
          label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
          }
  
          .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
          }
  
          .btn {
            display: block;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
  
            &:hover {
              background-color: #0056b3;
            }
          }
        }
      }
    }
     body.navbar {
        display: none;
      // background: red !important;
      }
      
    @media (max-width: 767px) {
      .form-title {
        max-width: 90%;
      }
    }
  }

    
